# Auto detect text files and perform LF normalization
* text=auto

# Ensure these files are always LF
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf